In [1]:
import pandas as pd

In [2]:
df=pd.read_csv('http://bit.ly/autompg-csv')

In [3]:
df.head()

    mpg  cyl  displ   hp  weight  accel  yr origin                       name
0  18.0    8  307.0  130    3504   12.0  70     US  chevrolet chevelle malibu
1  15.0    8  350.0  165    3693   11.5  70     US          buick skylark 320
2  18.0    8  318.0  150    3436   11.0  70     US         plymouth satellite
3  16.0    8  304.0  150    3433   12.0  70     US              amc rebel sst
4  17.0    8  302.0  140    3449   10.5  70     US                ford torino

In [34]:
a = 'abcdefghijklmnopqrstuvwxyz'

In [10]:
def cicle_left(A):
    """циклический сдвиг влево
    """
    x = A[0]
    for k in range(len(A) - 1):
        A[k] = A[k + 1]
    A[len(A) - 1] = x
    return A

In [16]:
A = list(a)

In [17]:
A

['a', 'b', 'c', 'd', 'e']

In [18]:
cicle_left(A)

['b', 'c', 'd', 'e', 'a']

In [26]:
def cezar(string, N):
    str_list = list(string)
    for i in range(N):
        cicle_left(str_list)
    return ''.join(str_list)
#долгий

In [27]:
cezar(a, 3)

'deabc'

In [37]:
def shift(N):
    a = 'abcdefghijklmnopqrstuvwxyz'
    return a[N:] + a[:N]

In [36]:
cezar_linear(a, 3)

'defghijklmnopqrstuvwxyzabc'

In [59]:
# def cezar(string, N):
#     abc = 'abcdefghijklmnopqrstuvwxyz'
#     abc_shift = abc[N:] + abc[:N]
#     print(abc, '\n', abc_shift)
#     dict_cezar = dict(zip(abc, abc_shift))
#     return dict_cezar

In [72]:
# def cezar(string, N):
#     abc = 'abcdefghijklmnopqrstuvwxyz'
#     abc_shift = abc[N:] + abc[:N]
#     dict_cezar = dict(zip(abc, abc_shift))
#     new_string = []
#     for x in string:
#         new_string = new_string + list(dict_cezar[x])
#     return ''.join(new_string)

In [80]:
def cezar(string, N):
    abc = 'abcdefghijklmnopqrstuvwxyz'
    abc_shift = abc[N:] + abc[:N]
    dict_cezar = dict(zip(abc + ' ', abc_shift + ' '))
    new_string = []
    for x in string:
        new_string = new_string + list(dict_cezar[x])
    return ''.join(new_string)

In [76]:
hello = 'bacbacbac abc abcabc'

In [81]:
cezar(hello, 3)

'edfedfedf def defdef'

In [1]:
from collections import defaultdict

my_default_dict = defaultdict(int)
for letter in 'the red fox ran as fast as it could':
    my_default_dict[letter] += 1
print(my_default_dict)

# defaultdict - крутая штука, лучше всего подходит для частотного анализа

defaultdict(<class 'int'>, {'t': 3, 'h': 1, 'e': 2, ' ': 8, 'r': 2, 'd': 2, 'f': 2, 'o': 2, 'x': 1, 'a': 4, 'n': 1, 's': 3, 'i': 1, 'c': 1, 'u': 1, 'l': 1})

In [4]:
# Не обязательно, у словарей есть метод get

my_default_dict = dict()
for letter in 'the red fox ran as fast as it could':
    my_default_dict[letter] = my_default_dict.get(letter,0) + 1
print(my_default_dict)

{'t': 3, 'h': 1, 'e': 2, ' ': 8, 'r': 2, 'd': 2, 'f': 2, 'o': 2, 'x': 1, 'a': 4, 'n': 1, 's': 3, 'i': 1, 'c': 1, 'u': 1, 'l': 1}

In [ ]:
# А еще есть setdefault

new = {}
for key, value in data:
    group = new.setdefault(key, []) # key might exist already
    group.append(value)

In [ ]:
class MyDict(dict):
    def __missing__(self, key):
        print("Oh no")
        return 123

In [7]:
class Counter(dict):
    def __missing__(self, key):
        return 0
c = Counter()
c['red']

0

In [8]:
c['red'] += 1
c['red']

1

In [2]:
from collections import Counter

ages = [22, 22, 25, 25, 30, 24, 26, 24, 35, 45, 52, 22, 22, 22, 25, 16, 11, 15, 40, 30]
value_counts = Counter(ages)
print(value_counts.most_common())

[(22, 5), (25, 3), (30, 2), (24, 2), (26, 1), (35, 1), (45, 1), (52, 1), (16, 1), (11, 1), (15, 1), (40, 1)]

In [3]:
from collections import namedtuple

Features = namedtuple('Features', ['age', 'gender', 'name'])
row = Features(age=22, gender='male', name='Alex')
print(row.age)

22